#header {
  background: #24292e;
  width: 100%;
  height: 50px;
  color: rgba(255,255,255,0.75);
  position: fixed;
  z-index: 100;

  #brand {
    font-size: 1.3em;
    padding: 15px 0 15px 20px;
    width: 200px;
    float: left;
  }

  .container {
    width: 60%;
  }

  #user-status {
    max-width: 300px;
    float: right;
    padding: 15px 20px 15px 0;
  }
}

.clear {
  clear: both;
}
