#sidebar {
  float: left;
  background: #434857;
  width: 70px;
  height: 100%;
  font-size: 1.1em;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: block;
    height: 50px;
    padding: 10px 25px 0 25px;
    width: 100%;
    font-size: 20px;
    background: #434857;
    border-bottom: 1px solid #252830;
  }

  a {
    display: block;
    text-decoration: none;
    color: #cfd2da;
  }

  a:hover {
    color: #24292e;
  }

  .brand {
    background: #0f1013;
    height: 70px;
    padding: 15px 10px 0 15px;
    a {
      color: #586069;
    }
  }

  .active {
    background-color: #252830;
    a {
      // color: #586069;
      color: #f98d00;
    }
  }

}
