<h1>Despesas</h1>
<hr>

<div class="row">
  <%= render 'search_form' %>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <th>Pago</th>
        <th>Desrição</th>
        <th>Valor</th>
        <th>Data</th>
        <th>Categoria</th>
      </thead>
        <tbody id="expenses">
          <%= render @expenses %>
        </tbody>
    </table>
  </div>
</div>
